.container {
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

.labelContainer {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    font-weight: bold;
    text-align: center;
}

.selected {
    box-shadow: inset 0 0 4px 0 #ff5f20;
    border-style: solid;
    border-width: 1px;
    border-color: #ff5f20;
}

.container {
    position: relative;
}

.indicatorContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.indicator {
    /* composes: type-very-small; */
    font-size: 10px;
    line-height: 1.1;
    line-height: 0.9;
    border-radius: 3px 0 0 0;
    padding: 3px 3px 2px 4px;
    color: #bbb;
    background-color: #23282b;
}

.agricultural_products {
    background: linear-gradient(135deg, rgb(92, 18, 18), rgb(117, 43, 43));
    color: rgb(219, 145, 145);
}

.alloys {
    background: linear-gradient(135deg, rgb(77, 77, 77), rgb(102, 102, 102));
    color: rgb(204, 204, 204);
}

.chemicals {
    background: linear-gradient(135deg, rgb(183, 46, 91), rgb(208, 71, 116));
    color: rgb(255, 173, 218);
}

.construction_materials {
    background: linear-gradient(135deg, rgb(24, 91, 211), rgb(49, 116, 236));
    color: rgb(151, 218, 255);
}

.construction_parts {
    background: linear-gradient(135deg, rgb(35, 30, 68), rgb(60, 55, 93));
    color: rgb(162, 157, 195);
}

.construction_prefabs {
    background: linear-gradient(135deg, rgb(54, 54, 54), rgb(79, 79, 79));
    color: rgb(181, 181, 181);
}

.consumables_basic {
    background: linear-gradient(135deg, rgb(73, 85, 97), rgb(98, 110, 122));
    color: rgb(200, 212, 224);
}

.consumables_luxury {
    background: linear-gradient(135deg, rgb(9, 15, 15), rgb(34, 40, 40));
    color: rgb(136, 142, 142);
}

.drones {
    background: linear-gradient(135deg, rgb(91, 46, 183), rgb(116, 71, 208));
    color: rgb(218, 173, 255);
}

.electronic_devices {
    background: linear-gradient(135deg, rgb(86, 20, 147), rgb(111, 45, 172));
    color: rgb(213, 147, 255);
}

.electronic_parts {
    background: linear-gradient(135deg, rgb(92, 30, 122), rgb(117, 55, 147));
    color: rgb(219, 157, 249);
}

.electronic_pieces {
    background: linear-gradient(135deg, rgb(73, 85, 97), rgb(98, 110, 122));
    color: rgb(200, 212, 224);
}

.electronic_systems {
    background: linear-gradient(135deg, rgb(49, 24, 7), rgb(74, 49, 32));
    color: rgb(176, 151, 134);
}

.elements {
    background: linear-gradient(135deg, rgb(91, 46, 183), rgb(116, 71, 208));
    color: rgb(218, 173, 255);
}

.energy_systems {
    background: linear-gradient(135deg, rgb(51, 24, 216), rgb(76, 49, 241));
    color: rgb(178, 151, 255);
}

.fuels {
    background: linear-gradient(135deg, rgb(30, 123, 30), rgb(55, 148, 55));
    color: rgb(157, 250, 157);
}

.gases {
    background: linear-gradient(135deg, rgb(67, 77, 87), rgb(92, 102, 112));
    color: rgb(194, 204, 214);
}

.liquids {
    background: linear-gradient(135deg, rgb(80, 41, 23), rgb(105, 66, 48));
    color: rgb(207, 168, 150);
}

.medical_equipment {
    background: linear-gradient(135deg, rgb(9, 15, 15), rgb(34, 40, 40));
    color: rgb(136, 142, 142);
}

.metals {
    background: linear-gradient(135deg, rgb(16, 92, 87), rgb(41, 117, 112));
    color: rgb(143, 219, 214);
}

.minerals {
    background: linear-gradient(135deg, rgb(73, 85, 97), rgb(98, 110, 122));
    color: rgb(200, 212, 224);
}

.ores {
    background: linear-gradient(135deg, rgb(57, 95, 96), rgb(82, 120, 121));
    color: rgb(184, 222, 223);
}

.plastics {
    background: linear-gradient(135deg, rgb(26, 60, 162), rgb(51, 85, 187));
    color: rgb(153, 187, 255);
}

.ship_engines {
    background: linear-gradient(135deg, rgb(14, 57, 14), rgb(39, 82, 39));
    color: rgb(141, 184, 141);
}

.ship_kits {
    background: linear-gradient(135deg, rgb(29, 36, 16), rgb(54, 61, 41));
    color: rgb(156, 163, 143);
}

.ship_parts {
    background: linear-gradient(135deg, rgb(59, 45, 148), rgb(84, 70, 173));
    color: rgb(186, 172, 255);
}

.ship_shields {
    background: linear-gradient(135deg, rgb(132, 82, 34), rgb(157, 107, 59));
    color: rgb(255, 209, 161);
}

.software_components {
    background: linear-gradient(135deg, rgb(67, 77, 87), rgb(92, 102, 112));
    color: rgb(194, 204, 214);
}

.software_systems {
    background: linear-gradient(135deg, rgb(26, 60, 162), rgb(51, 85, 187));
    color: rgb(153, 187, 255);
}

.software_tools {
    background: linear-gradient(135deg, rgb(6, 6, 29), rgb(31, 31, 54));
    color: rgb(133, 133, 156);
}

.textiles {
    background: linear-gradient(135deg, rgb(80, 41, 23), rgb(105, 66, 48));
    color: rgb(207, 168, 150);
}

.unit_prefabs {
    background: linear-gradient(135deg, rgb(59, 45, 148), rgb(84, 70, 173));
    color: rgb(186, 172, 255);
}

.utility {
    background: linear-gradient(135deg, rgb(54, 54, 54), rgb(79, 79, 79));
    color: rgb(181, 181, 181);
}

.building {
    background: linear-gradient(135deg, rgb(52, 140, 160), rgb(77, 165, 185));
    color: rgb(179, 255, 255);
}

.defaultColor {
    background: #222;
    color: #999
}