.table td:nth-child(odd) {
    text-align: left;
}

.table td:nth-child(even) {
    text-align: right;
}

.table tr.header>td {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgb(43, 72, 90);
}

.table tr:not(.header)>td:nth-child(odd) {
    padding-left: 1em;
}